.collaboration {
  background: url("../images/collaborationbackground.png");

  padding-bottom: 20px;

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 86px;
    padding-top: 100px;
    gap: 14px;
    justify-content: center;
  }
  &__top--left {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: -0.02em;
    width: 201px;
    height: 51px;
    padding-left: 15px;

    color: #000000;
  }
  &__top--right {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: -0.02em;
    width: 201px;
    padding-left: 10px;
    height: 51px;

    color: #919191;
  }
  &__container {
  }
  &__container12 {
    padding-bottom: 150px;
  }
  &__block1 {
    position: relative;
    margin-bottom: 100px;
  }
  &__block12 {
    margin-bottom: 0px;
  }
  &__block1--img {
  }
  &__block1--image {
    padding-left: 345px;
    height: 673px;
    border-radius: 20px;
    margin: 0 auto;
  }
  &__model {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #e6e6e6;
    border-radius: 20px;
    width: 545.98px;
    height: 543px;
  }
  &__model--body {
    position: absolute;
    top: 124px;
    left: 74px;
    bottom: 86px;
    right: 74px;
  }
  &__model--heading {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    color: #000000;
  }
  &__model--desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    /* 000000 */

    color: #000000;
    margin-bottom: 40px;
  }
  &__model--btn {
    padding: 20px 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #ffffff;
    background: #0071e3;
    border-radius: 40px;

    display: inline-block;
    &:hover {
      opacity: 0.7;
      color: #000000;
    }
  }
  &__block3 {
    background: url("../images/gallarydetailblock2.png") no-repeat;
    padding-top: 64px;
    padding-bottom: 68px;
  }
  &__block2 {
    background: url("../images/gallarydetailblock2.png") no-repeat;
    padding-top: 64px;
    padding-bottom: 68px;
    position: relative;
    margin-bottom: 100px;
    height: 805px;
  }
  &__block2--body {
    display: flex;

    gap: 1091px;

    // position: relative;
  }
  &__block2--body--right {
    width: 415px;
  }
  &__block2--body--left {
  }
  &__block2--img {
    position: absolute;
    top: 52px;
    width: 432px;
    height: 288px;
    left: 513px;
    z-index: 10;
  }
  &__block2--img2 {
    position: absolute;
    top: 87px;
    width: 316px;
    height: 316px;
    left: 284px;
    z-index: 10;
  }
  &__block2--img3 {
    position: absolute;
    top: 396px;
    width: 434px;
    height: 290px;
    left: 166px;
    z-index: 10;
  }
  &__block2--img4 {
    position: absolute;
    top: 438px;
    width: 316px;
    height: 316px;
    left: 514px;
    z-index: 10;
  }
  &__block2--img6 {
    position: absolute;
    top: 277px;
    width: 317px;
    height: 440px;
    left: 744px;
    z-index: 10;
  }
  &__block2--img7 {
    position: absolute;
    top: 83px;
    width: 432px;
    height: 304px;
    left: 1092px;
    z-index: 10;
  }
  &__block2--img8 {
    position: absolute;
    width: 432px;
    height: 304px;
    top: 413px;
    left: 1092px;
    z-index: 10;
  }
  &__block2--img9 {
    position: absolute;
    top: 83px;
    width: 314px;
    height: 438px;
    left: 1553px;
    z-index: 10;
  }
  &__model2--body {
    padding-top: calc(251px - 64px);
  }
  &__model2--body {
    padding-top: calc(251px - 45px);
  }
  &__model2--heading {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    width: 480px;
    color: #fff;
  }
  &__model2--desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    width: 462px;
    margin-bottom: 40px;
  }
  &__model2--btn {
    padding: 20px 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #ffffff;
    background: #0071e3;
    border-radius: 40px;

    display: inline-block;
    &:hover {
      opacity: 0.7;
      color: #000000;
    }
  }
}
