.customer {
  margin-bottom: 60px;
  display: block;
  &__container {
  }
  &__top {
  }
  &__heading {
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    line-height: 50px;
    color: $heading-color;
    margin-bottom: 20px;
    span {
      display: block;
    }
  }
  &__desc {
    margin-bottom: 60px;
    line-height: 30px;
    text-align: center;
    span {
      display: block;
    }
  }
  &__list {
    list-style: none;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 0 50px;
  }
  &__item {
    padding: 30px;
    border: 2px solid $gray-color;
    border-radius: 10px;
    transition: all 0.2s ease-in;
    margin-bottom: 70px;
    width: 400px;
    background-color: #fff;

    &:hover {
      border: 2px solid $primary-color;
    }
  }
  &__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__avata {
  }
  &__infors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px;
  }
  &__infor {
  }
  &__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: $heading-color;
  }
  &__location {
    font-size: 14px;
    line-height: 30px;
    color: rgba(79, 86, 101, 1);
  }
  &__rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
  }
  &__comment {
    line-height: 30px;
    color: #0b132a;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__click {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 0 15px;
  }
  &__arrow {
    display: flex;
    align-items: center;
    gap: 0 20px;
  }
  &__right {
    transform: translateY(14px);
  }
}
@media screen and (max-width: 1023.98px) {
  .customer {
    margin-bottom: 50px;
  }
  .customer__list {
    flex-direction: column;
    gap: 0 50px;
    padding-bottom: 0px;
  }
  .customer__item {
    display: block;
    width: 85%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .customer__click {
    padding-left: 20px;
  }
  .customer__right {
    margin-right: 20px;
  }
  .customer__arrow {
    display: flex;
    align-items: center;
    gap: 0 0px;
  }
  .customer__infors {
    gap: 0 10px;
  }
}
@media screen and (max-width: 767.98px) {
  .customer {
    margin-bottom: 40px;
  }
  .customer__list {
    flex-direction: column;
    gap: 0 50px;
    padding-bottom: 0px;
  }
  .customer__item {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .customer__click {
    padding-left: 20px;
  }

  .customer__arrow {
    display: flex;
    align-items: center;
    gap: 0 0px;
  }
  .customer__heading {
    font-size: 30px;
  }
  .customer__bottom {
    gap: 89px;
  }
  .customer__infors {
    gap: 0 10px;
  }
  .customer__author {
    gap: 0 30px;
  }
}
