.footer {
  background: #000000;
  padding-bottom: 53px;

  &__logo {
    margin: 0 auto;
    height: 250px;
  }
  // &__container {
  //   display: grid;
  //   grid-template-columns: 1fr 1.2fr 1fr;
  //   grid-gap: 0 30px;
  // }
  // &__column2 {
  //   display: flex;
  //   justify-content: space-evenly;
  //   margin-bottom: 119px;
  //   background: #000000;

  // }
  &__name {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 50px;
    color: #ffffff;
  }
  &__address {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 7px;
  }
  &__gmail {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 7px;
  }
  &__telphone {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 7px;
  }

  &__column3 {
    text-align: end;
  }
  // &__case {
  //   margin-bottom: 145px;
  // }
  &__instagram {
    font-size: 30px;
    color: #ffffff;
    margin-left: 25px;
  }
  &__twitter {
    font-size: 30px;
    color: #ffffff;
    margin-left: 25px;
  }
  &__facebook {
    font-size: 30px;
    color: #ffffff;
    margin-left: 25px;
  }
  &__youtube {
    font-size: 30px;
    color: #ffffff;
    margin-left: 25px;
  }
  &__copyright {
    a {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media screen and (min-width: 1024px) {
  .footer__container {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-gap: 0 30px;
  }
  .footer__column2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 120px;
    background: #000000;
  }
  .footer__case {
    margin-bottom: 145px;
  }
}
