.gallery {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background: #dfe9eb;
    left: 0;
    top: -50px;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  &__heading {
    font-family: "Don Graffiti";
    font-size: 76px;
    font-weight: normal;
    line-height: 75px;
    color: #000;
    text-align: center;
    margin-bottom: 40px;
    z-index: 23;
    position: relative;
  }
  &__desc {
    font-style: normal;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    line-height: 24px;
    font-weight: 400;
    width: 890px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    z-index: 2;
  }
  &__contain {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
  }
  &__image {
    width: 432px;
    height: 570px;
    margin-bottom: 123px;
    z-index: 2;
  }
}
