.gallarydetail {
  padding-top: 250px;
  background: url("../images/gallarydetailbackground.png") no-repeat;
  &__container {
  }
  &__container12 {
    padding-bottom: 150px;
  }
  &__block1 {
    position: relative;
    margin-bottom: 150px;
  }
  &__block12 {
    margin-bottom: 0px;
  }
  &__block1--img {
  }
  &__block1--image {
    padding-left: 345px;
    height: 772px;
    border-radius: 20px;
  }
  &__model {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #e6e6e6;
    border-radius: 20px;
    width: 545.98px;
    height: 543px;
  }
  .gallarydetail__model2 {
    height: 600px;

  }
  &__model--body {
    position: absolute;
    top: 73px;
    left: 73px;
    bottom: 86px;
    right: 73px;
  }
  &__model--heading {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    color: #000000;
  }
  &__model--desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 40px;
  }
  &__model--btn {
    padding: 20px 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #ffffff;
    background: #0071e3;
    border-radius: 40px;

    display: inline-block;
    &:hover {
      opacity: 0.7;
      color: #000000;
    }
  }
  &__block2 {
    background: url("../images/gallarydetailblock2.png") no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 150px;
  }
  &__block2--body {
    display: flex;
    align-items: center;
    gap: 207px;
  }
  &__block2--body--right {
    width: 415px;
  }
  &__block2--img {
    border-radius: 20px;
  }
  &__model2--heading {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    color: #fff;
  }
  &__model2--desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 40px;
  }
  &__model2--btn {
    padding: 20px 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #ffffff;
    background: #0071e3;
    border-radius: 40px;

    display: inline-block;
    &:hover {
      opacity: 0.7;
      color: #000000;
    }
  }
}
