.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  max-width: 1570px;
  margin: 0 auto;
  padding: 0 15px;
}
.container2 {
  max-width: 1820px;
  margin: 0 auto;
  padding: 0 0px;


}
.container3 {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 0px;


}
.container4 {
  max-width: 1820px;
  margin: 0 auto;
  padding: 0px  0px 0px 120px;}

body {
  font-family: "Noto Sans";
  font-size: 16px;
  line-height: 1;
  color: $text-color;
  font-weight: 900;
  background-color: #f6f6f6;
}
.btn {
  padding: 13px 45px;
  color: #a8898e;
  border-radius: 50px;
  border: 1px solid #f53855;
  text-align: center;
  font-weight: 500;
  color: #f53855;
}
html {
  scroll-behavior: smooth;
}

// section[id] {
//   scroll-margin-top: 30px;
// }
@font-face {
  font-family: 'Don Graffiti';
  src: url(fonts/DonGraffiti.oft);
}
@font-face {
  font-family: 'Noto Sans';
  src: url(/assets/fonts/NotoSans-Regular.ttf);
}

main {
  background: url("../images/Untitled.png")  no-repeat;
  // margin-bottom: 200px;

}
video {
outline: none;  
}

.color--white {
  color: #fff  !important;
}
