.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  font-family: $font;
  font-size: 16px;
  line-height: 1;
  color: $text-color;
  font-weight: 400;
  background-color: #f6f6f6;
}
.btn {
  padding: 13px 45px;
  color: #a8898e;
  border-radius: 50px;
  border: 1px solid #f53855;
  text-align: center;
  font-weight: 500;
  color: #f53855;
}
section,
header,
footer {
  display: none;
}
section[id] {
  scroll-margin-top: 30px;
}
