.hero {
  margin-bottom: 150px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 30px;
  }
  &__content {
  }
  &__image {
    margin-left: 40px;
    width: 612px;
    height: 382px;
    display: block;
  }
  &__heading {
    font-size: 50px;
    line-height: 70px;
    font-weight: 500;
    font-style: normal;
    color: $heading-color;
    margin-bottom: 20px;
  }
  &__desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 50px;
  }
  &__btn {
    position: relative;
    padding: 18px 78px;
    background-color: $primary-color;
    border-radius: 10px;
    line-height: 25px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 90%;
      height: 100%;
      transform: translate(-50%, 50%);
      background-color: rgba(245, 56, 56, 0.35);
      filter: blur(54px);
      border-radius: inherit;
    }
  }
}
