.header8 {
  width: 1920px;
  background: url("../images/informationbackground.png") no-repeat;
  position: relative;
  height: 1920px;
  margin-bottom: 0;
  &__banner {
    display: block;
  }
  &__logo {
    display: block;
    color: white;
    width: 356px;
    height: 251px;
    position: relative;
    left: 13.47%;
    transform: translateX(-50%);
  }
  &__container {
    display: flex;
    align-items: center;
    height: 181px;
    justify-content: space-between;
  }
  &__icon {
    display: block;
    color: white;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
  &__desc {
    font-size: 22px;
    font-weight: 700;
    font-size: 20px;
    color: white;
  }
  &--toggle {
    color: white;
    cursor: pointer;
    font-size: 35px;
    color: white;
  }

  &__cart {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 79px;
  }
}

// ACCOUNT
.information {
  &__form {
    position: absolute;
    width: 1126px;
    height: 1393px;
    left: 694px;
    left: 50%;
    transform: translateX(-50%);
    top: 300px;

    background: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
  }
  &__name {
    position: absolute;
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Don Graffiti";
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 63px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #ffffff;
  }

  &__bar {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 26px;
    list-style: none;
  }
  &__item {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    gap: 16px;
    color: #ffffff;
    span {
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      /* identical to box height */

      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-decoration: underline;
      color: #ffffff;
    }
  }

  &__contact {
    position: absolute;
    top: 350px;
    left: 111px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: 0.1em;
    text-transform: capitalize;

    color: #ffffff;
  }
  &__login {
    position: absolute;
    top: 350px;
    right: 123px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #ffffff;
  }

  &__input1 {
    position: absolute;
    top: 408px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: block;
    width: 895px;
    height: 65px;
    line-height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &::placeholder {
        font-size: 20px;
      line-height: 65px;
      color: #4f4f4f;
    }
    /* gray 1 */
    padding: 0px 35px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 45px;
    /* identical to box height */
    background-color: #000;
    color: #ffffff;

  }
  &__input2 {
    position: absolute;
    top: 498px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 895px;
    height: 65px;
    line-height: 65px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 65px;
      color: #4f4f4f;
    }
    /* gray 1 */
    padding: 0px 35px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 45px;
    /* identical to box height */
    background-color: #000;
    color: #ffffff;

  }
  &__shipping {
    position: absolute;
    top: 666px;
    left: 111px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: 0.1em;
    text-transform: capitalize;

    color: #ffffff;
  }

  &__input3 {
    position: absolute;
    top: 724px;
    left: 50%;
    transform: translateX(-50%);
    width: 895px;
    height: 65px;
    line-height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 65px;
      color: #4f4f4f;
    }
    /* gray 1 */
    padding: 0px 35px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 45px;
    /* identical to box height */
    background-color: #000;
    color: #ffffff;

  }

  &__input4 {
    position: absolute;
    top: 814px;
    left: 111px;
    width: 435px;
    height: 65px;
    line-height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 65px;
      color: #4f4f4f;
    }
    /* gray 1 */
    padding: 0px 35px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 45px;
    /* identical to box height */
    background-color: #000;
    color: #ffffff;

  }

  &__input5 {
    top: 814px;
    right: 123px;
    position: absolute;
    width: 435px;
    height: 65px;
    line-height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
        &::placeholder {
       font-size: 20px;
      line-height: 65px;
      color: #4f4f4f;
    }
    /* gray 1 */
    padding: 0px 35px;
    border: 1px solid #bdbdbd;
    border-radius: 45px;
    /* identical to box height */
    background-color: #000;
    color: #ffffff;

  }

  &__input6 {
    position: absolute;
    top: 904px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 895px;
    height: 65px;
    line-height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;


    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 65px;
      color: #4f4f4f;
    }
    /* gray 1 */
    padding: 0px 35px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 45px;
    /* identical to box height */
    background-color: #000;
    color: #ffffff;

  }

  &__input7 {
    position: absolute;
    top: 994px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 895px;
    height: 65px;
    line-height: 65px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 65px;
      color: #4f4f4f;
    }
    /* gray 1 */
    padding: 0px 35px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 45px;
    /* identical to box height */
    background-color: #000;
    color: #ffffff;

  }

  &__return {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    top: 1159px;
    left: 111px;
    position: absolute;
    width: 432px;
    height: 65px;
    text-align: center;
    justify-content: center;

    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 45px;
    font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.03em;
text-transform: capitalize;

color: #999999;
    &:hover {
      background-color: #bdbdbd;
      color: #000;
    }
  }
  &__pay {
    position: absolute;
    width: 432px;
    height: 65px;
    top: 1159px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 123px;
    color: #ffffff;
    background: #0071e3;
    border-radius: 45px;
    font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 65px;
letter-spacing: 0.03em;
text-transform: capitalize;

color: #FFFFFF;
    &:hover {
      opacity: 0.7;
    }
  }
}
