.intro {
  margin-bottom: 100px;
  &__container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 72px 91px;
    background-color: #fff;
    border-radius: 10px;
box-shadow: 1px 1px 2px rgb(245, 242, 242);

;  }
  &__users{
    display: flex;
    align-items: center;
    gap: 0 37px;
  }
  &__user-number {
line-height: 30px;
font-size: 25px;
font-weight: 700;
span {
  display: block;
  line-height: 30px;
  font-size: 25px;

}
  }
  &__location-number {
    line-height: 30px;
font-size: 25px;
font-weight: 700;
span {
  display: block;
  line-height: 30px;
  font-size: 25px;

}
  }
  &__service-number {
    line-height: 30px;
font-size: 25px;
font-weight: 700;
span {
  display: block;
  line-height: 30px;
  font-size: 25px;

}
  }
  &__locations {
    display: flex;
    align-items: center;
    gap: 0 37px;
  }
  &__services {
    display: flex;
    align-items: center;
    gap: 0 37px;
  }


  
}