.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 550px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 23;
  border-radius: 0px 20px 20px 0px;
height: 820px;
  box-shadow: rgba(#100, 0.2);
  transform: translateX(-100%);
  transition: transform 0.2s linear;
  // dung willchange cho trinh duyet biet no se ap dung thuoc tinh transform
  will-change: transform;

  &.is-active {
    transform: translateX(0);
  }

  &-toggle {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
.menu-list {
  list-style: none;
  height: 100%;
  padding: 180px 10px 10px;
  margin-bottom: 10px;
}
.menu-item {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0px 20px;
  display: block;
  &:hover {
  }
  &:nth-child(1) {
    margin-bottom: 20px;
  }
  &:nth-child(2) {
    margin-bottom: 20px;
  }
  &:nth-child(3) {
    margin-bottom: 20px;
  }
  &:nth-child(4) {
    margin-bottom: 20px;
  }
  &:nth-child(5) {
    margin-bottom: 20px;
  }
  &:nth-child(6) {
    margin-bottom: 20px;
  }

}
.menu-link {
  font-family: "Don Graffiti";
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  height: 75px;
  line-height: 75px;
  display: block;
  text-transform: capitalize;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 0.1em;
  width: 100%;
  color: #919191;
  transition: all 0.2s ease;
  &:hover {
    color: white;
  }
}

.menu-close {
  cursor: pointer;
  font-size: 35px;
  position: absolute;
  left: 45px;
  top: 66px;
  color: white;
  padding: 30px 30px 30px 0px;
  z-index: 20;
  &:hover {
    opacity: 0.7;
  }
}
.menu__close2 {
  cursor: pointer;
  font-size: 35px;
  position: absolute;
  left: 51px;
  top: 77px;
  color: white;
  padding: 30px 30px 30px 0px;
  z-index: 20;
  &:hover {
    opacity: 0.7;
  }
}
.menu__close4 {
  cursor: pointer;
  font-size: 35px;
  position: absolute;
  left: 50px;
  top: 77px;
  // top: 44px;
  color: white;
  padding: 30px 30px 30px 0px;
  z-index: 20;
  &:hover {
    opacity: 0.7;
  }
}
.menu__close5 {
  cursor: pointer;
  font-size: 35px;
  position: absolute;
  left: 50px;
  top: 43px;
  color: white;
  padding: 30px 30px 30px 0px;
  z-index: 20;
  &:hover {
    opacity: 0.7;
  }
}

.menu-avatar {
  position: absolute;
  right: 20px;
  top: 98px;
  height: 55px;
  width: 55px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
.menu-name {
  font-size: 25px;
  position: absolute;
  right: 69px;
  top: 76px;
  color: white;
  padding: 20px;
  z-index: -1;
}
.menu-number {
  font-size: 16px;
  position: absolute;
  right: 69px;
  top: 116px;
  color: white;
  padding: 20px;
  z-index: -1;
}

.menu__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 25px;
  left: 43px;
  right: 36px;
}
.menu__cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.menu__desc {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.menu__singout {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
  &:hover {
    color: #919191;
  }
}

.menu__singin {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #ffffff;
  cursor: pointer;
  &:hover {
    color: #919191;
  }
}
