.news {
  padding-top: 250px;
  padding-bottom: 120px;
  &__heading {
    font-family: "Don Graffiti";
    font-size: 76px;
    font-weight: normal;
    line-height: 75px;
    color: #000;
    text-align: center;
    margin-bottom: 100px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 3px;
      height: 150px;
      top: -199px;
      background: #000000;
      border-radius: 4px;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 70px;
    }
  }

  &__btn {
    padding: 15px 30px;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    background-color: $blue;
    &:hover {
      opacity: 0.8;
    }
  }
  &__image {
    margin-bottom: 29px;
    width: 778px;
  }
  &__desc {
    font-size: 32px;
    line-height: 44px;
    width: 600px;
    margin-bottom: 25px;
    color: #000;
    font-weight: bold;
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
    width: 570px;
    margin-bottom: 58px;
    color: #000;
  }
  &__contain {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  &__column {
    max-width: 600px;
  }
}
