.plan {
  margin-bottom: 150px;
  display: block;
  &__container {
    padding: 0 40px;
  }
  &__top {
  }
  &__heading {
    font-size: 35px;
    line-height: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    color: $heading-color;
  }
  &__desc {
    line-height: 30px;
    text-align: center;
    margin-bottom: 60px;
  }
  &__content {
  }
  &__lists {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 50px;
  }
  &__items {
    display: inline-block;
    padding: 70px 60px 50px 60px;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 10px;
    transition: all 0.2s ease-in;
    background-color: #fff;

    &:hover {
      .plan__btn {
        background-color: $primary-color;
        color: white;
      }
      border: none;
    }
  }
  &__image {
    margin-bottom: 30px;
    padding: 0 20px 0 20px;
  }
  &__kind {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  &__list {
    list-style: none;

    margin-bottom: 100px;
  }
  &__item {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  &__icon {
  }
  &__name {
    line-height: 30px;
    font-size: 14px;
  }
  &__btn {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
  }
  &__pricing {
    margin-bottom: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 1023.98px) {
  .plan {
    margin-bottom: 100px;
  }
  .plan__container {
    padding: 0 20px;
  }
  .plan__lists {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 350px;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    grid-template-columns: unset;
  }
  .plan__items {
    display: inline-block;
    padding: 50px 40px 30px 40px;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 10px;
    transition: all 0.2s ease-in;
    background-color: #fff;

    &:hover {
      .plan__btn {
        background-color: $primary-color;
        color: white;
      }
      border: none;
    }
  }
  .plan__heading {
    font-size: 35px;
    color: $heading-color;
  }
  .plan__image {
    // margin-bottom: 30px;
    padding: 0 40px 0 00px;
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767.98px) {
  .plan {
    margin-bottom: 80px;
  }
  .plan__container {
    padding: 0 15px;
  }
  .plan__heading {
    font-size: 30px;
    color: $heading-color;
  }
  .plan__image {
    // margin-bottom: 30px;
    padding: 0 20px 0 20px;
    text-align: center;
  }
  .plan__lists {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 250px;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    grid-template-columns: unset;
  }
  .plan__items {
    display: inline-block;
    padding: 40px 30px 20px 40px;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 10px;
    transition: all 0.2s ease-in;
    background-color: #fff;

    &:hover {
      .plan__btn {
        background-color: $primary-color;
        color: white;
      }
      border: none;
    }
  }
}
