.header3 {
  height: 181px;
  width: 1920px;
  background: url("../images/shopbanner.png") no-repeat;
  margin-bottom: 80px;

  &__banner {
    height: 181px;
    display: block;
    width: 1920px;
  }
  &__logo {
    display: block;
    color: white;
    width: 356px;
    height: 251px;
    position: relative;
    left: 14.1%;
    transform: translateX(-50%);
  }
  &__container {
    display: flex;
    align-items: center;
    height: 181px;
    justify-content: space-between;
  }
  &__icon {
    display: block;
    color: white;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
  &__desc {
    font-size: 22px;
    font-weight: 700;
    font-size: 20px;
    color: white;
  }
  &--toggle {
    color: white;
    cursor: pointer;
    font-size: 35px;
    color: white;
  }

  &__cart {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 79px;
  }
}

.shopdetail {
  background: url("../images/backgroundshopdetail.png") no-repeat;
  object-fit: cover;
  padding-bottom: 80px;
  &__serach--bar {
    width: 1820px;
    height: 260px;
    padding: 0px 50px;
  }
  &__search {
    width: 1820px;
    height: 260px;
    background: #dfe9eb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-bottom: 90px;
  }
  &__sort {
    padding: 35px 43px 0 43px;
    border-radius: 20px;
    display: flex;
    gap: 200px;
  }
  &__sort--left {
  }
  &__sort--left1 {
    display: flex;
    gap: 14px;
    align-items: flex-start;
    width: 910px;
    margin-bottom: 30px;
  }
  &__sort--left2 {
    display: flex;
    gap: 14px;
    align-items: flex-start;
    width: 910px;
  }
  &__sortby {
    display: flex;
    align-items: center;
    gap: 17px;
  }
  &__sort--right {
    display: flex;
    gap: 26px;
    align-items: center;
  }
  &__color {
    display: flex;
    gap: 510px;
    padding: 0 0 35px 31px;
  }
  &__color--left {
    align-self: flex-end;
  }
  &__color--right {
    align-items: flex-start;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
.sort__icon {
  padding: 20px;
  background: #fffdfd;
  border-radius: 8px;
  display: inline-block;
}
.sort__title p {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #000000;
}
.sort__title {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 139px;
}
.sort__sign {
  width: 18.41px;
  height: 11.05px;
}
.sort__right--title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #000000;
  align-self: center;
}
.sort__right--input {
  width: 170px;
  height: 65px;
  background: #ffffff;
  border-radius: 45px;
  outline: none;
  border: none;
  &::placeholder {
    font-size: 20px;
    line-height: 23px;
    color: #bdbdbd;
    padding: 0px 15px;
  }
}

.color__list {
  display: flex;
  gap: 30px;
  align-items: center;
}
.color__item {
  padding: 20px;
  display: inline-block;
  width: 18.41px;
  height: 11.05px;
  &:nth-child(1) {
    background: #c637c0;
    border-radius: 8px;
  }
  &:nth-child(2) {
    background: #ef3c3c;
    border-radius: 8px;
  }
  &:nth-child(3) {
    background: #e2b93b;
    border-radius: 8px;
  }
  &:nth-child(4) {
    background: #27ae60;
    border-radius: 8px;
  }
  &:nth-child(5) {
    background: #0071e3;
    border-radius: 8px;
  }
  &:nth-child(6) {
    background: #ff8a00;
    border-radius: 8px;
  }
  &:nth-child(7) {
    background: #03e1ff;
    border-radius: 8px;
  }
  &:nth-child(8) {
    background: #ff4fb9;
    border-radius: 8px;
  }
}
.color__title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;

  color: #000000;
}
.color__input {
  width: 397px;
  height: 65px;
  padding: 0px 15px;
  border: none;
  outline: none;
  background: #ffffff;
  border-radius: 45px;
  &::placeholder {
    font-size: 20px;
    line-height: 23px;
    color: #bdbdbd;
    padding: 0px 15px;
  }
}
.color__search {
  width: 132px;
  height: 63px;
  display: block;
  background: #0071e3;
  border-radius: 45px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  cursor: pointer;
  /* ffffff */

  color: #ffffff;
  &:hover {
    opacity: 0.7;
  }
}
//  SHOPDETAILE BODY
.shopdetail {
  &__body {
  }
  &__body--column {
  }
  &__body--list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // 4 cột sẽ bằng nhau
    grid-gap: 0 30px;
    list-style: none;
  }
  &__body--column {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
  }
  &__body--item {
    background: #DFE9EB;
    border-radius: 20px; 
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
  

  }
  }
  &__content {
    padding: 21px 18px 20px;
  }
  &__body--img {
  }
  &__heading {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
    margin-bottom: 5px;
    color: #000000;
  }
  &__author {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    margin-bottom: 10px;

    color: #000000;
  }
  &__more {
    display: flex;
    gap: 55px;
    align-items: center;
  }
  &__pricing {
    width: 177px;
    height: 59px;
    display: block;
    border-radius: 40px;
    border: none;
    outline: none;
    font-weight: bold;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    background: #BDBDBD;
    cursor: pointer;
    /* ffffff */
    color: #000;
    &:hover {
  }
}
  &__cart {
    width: 165px;
    height: 59px;
    display: block;
    background: #0071e3;
    border-radius: 40px;
    text-align: center;
    line-height: 59px;
    border: none;
    outline: none;
    font-weight: bold;

    font-size: 20px;
    cursor: pointer;
    /* ffffff */

    color: #fff;
    &:hover {
      opacity: 0.7;
    }
  }
}
