.subcribe {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 41px 70px 65px 70px;
    border-radius: 10px;
  }
  &__heading {
    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 20px;
    span {
      display: block;
    }
  }
  &__btn {
    background-color: $primary-color;
    color: #fff;
    cursor: pointer;
    position: relative;
    line-height: 25px;
    font-weight: 700;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 90%;
      height: 100%;
      transform: translate(-50%, 50%);
      background-color: rgba(245, 56, 56, 0.35);
      filter: blur(54px);
      border-radius: inherit;
      cursor: pointer;
    }
  }
  &__desc {
    line-height: 30px;
  }
}
@media screen and (max-width: 1023.98px) {
  .subcribe__container {
    padding: 51px 10px 55px 10px;
    flex-direction: column;
  }
  .subcribe__desc {
    margin-bottom: 30px;
  }
  .subcribe__heading {
    text-align: center;
    color: $heading-color;
  }
}
@media screen and (max-width: 767.98px) {
  .subcribe__container {
    padding: 51px 10px 55px 10px;
    flex-direction: column;
  }
  .subcribe__desc {
    margin-bottom: 30px;
  }
  .subcribe__heading {
    text-align: center;
    color: $heading-color;
    font-size: 30px;
  }
}
